<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses Offered 📝</title>
    <style></style>
  </head>
  <body>
    <h1 style="text-align: center">Courses Offered 📝</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Course ID</th>
          <th scope="col">Course Name</th>
          <th scope="col">Course Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{ course.id }}</td>
          <td>{{ course.name }}</td>
          <td>₹ {{ course.price }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
