<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-danger">
        <thead class="table table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Rating</th>

          </tr>
        </thead>
        <tbody *ngFor="let x of product">
          <tr style="border-color:chocolate ">
            <td><a href="javascript:void(0)"(click)="redirectto(x.id)">{{x.id}}</a></td>
            <td>{{x.title}}</td>
            <td>{{x.description}}</td>
            <td>{{x.rating}}</td>

          </tr>
        </tbody> 
      </table>
</body>
</html>
<!-- <li
*ngFor="let post of posts"
class="list-group-item-danger"
>{{posts.id}}
  <button (click)="deleteItem()">Delete </button>
</li> -->

